// Variables

// Couleurs
$colors:(
    light: #fff,
    grey: #666,
    dark-grey: #333,
    dark-blue: #222426,
    dark: #060606,
    black: #000,
    blue: #04A9F5,
    orange: #e94d29         
);

$font-family:(
    sans: "'Hind Vadodara', sans-serif"
)