{% for couleur in Couleur %}
    <li class="dropdown__category__item" id={{couleur.id}}>
                            <input type="checkbox" name="name-color" id="checkbox">
                            <label for="name-color">{{couleur.couleur}}</label>
                        </li>
                        
                {% endfor %}