.card-cart{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25.5rem;
    width: 33.5rem;
    &__img{
        transform: rotate(-90deg);
        object-fit: contain;
        height: 9.5rem;
        width: 20rem;
        object-position: center bottom;
    }
    &__desc{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &__name{
            font-size: 1.25rem;
            font-weight: 700;
        }
        &__ref{
            color: var(--clr-grey);
            font-size: 1.25rem;
            font-weight: 600;
        }
        &__price{
            color: var(--clr-orange);
            font-size: 1.5rem;
            & span{
                color: var(--clr-grey);
                text-decoration: line-through;
                margin-left: 2rem;
            }
        }
        &__color-container{
            padding: .5rem;
        }
        &__color{
            max-width: 45px;
            aspect-ratio: 1/1;
        }
        &__button{
            border: none;
            color: var(--clr-blue);
            background-color: var(--clr-light);
            font-size: 1rem;
            margin-right: .5rem;
            &:hover{
                border-bottom: 1px solid var(--clr-blue);
                cursor: pointer;
            }
        }
    }
}