.clickandcollect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__info{
        max-width: 40rem;
        margin: 2rem;
        &__title{
            font-size: 2.25rem;
            text-align: center;
            border-bottom: 1px solid var(--clr-black);
            padding: 2rem;
            margin-bottom: 3rem;
        }
        &__dispo{
            border-bottom: 1px solid var(--clr-black);
            margin-bottom: 2rem;
            color: var(--clr-grey);
            &__title{
                font-size: 1.5rem;
                font-weight: 600;
            }
            &__adresse{
                font-size: 1.25rem;
                & span{
                    float: right;
                    color: var(--clr-black);
                }
            }
            &__text{
                margin-bottom: 1rem;
            }
        }
    }
}