@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

body{
    font-family: var(--ff-sans);
}

.iteration-1-container{
    display: grid;
    padding: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}