
        <div class="clickandcollect">
            <div class="clickandcollect__info">
                <h1 class="clickandcollect__info__title">Search a retailer</h1>
                <div class="clickandcollect__info__dispo-container">
                    {% block retailler %}
                            {{include(retailler)}}
                        {% endblock %}
                </div>
            </div>
                
                <div class="clickandcollect__map" id="map">
                    {% block javascript %} 
                        <script src="scripts/map.js" type='module'></script>

                        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
                        <!-- <script src="scripts/pinpoints.json" type="application/json"></script> -->
                    {% endblock %}
            </div>
        

    </div>
