{% for gamme in Gamme %}
        <li class="dropdown__category__item">
                <input type="checkbox" name="name-gamme" id="checkbox">
                <label for="name-gamme">{{gamme.libelle}}</label>
        </li>
{% endfor %}